body {
    background-color: #600600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.flex {
    float: left;
    width: 10%;
    height: 150px;
    margin: 0.5%;
    margin-bottom: 1em;
    overflow: hidden;
    box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: white;
}
.farberot {
    color: red;
}
p {
    clear: left;
}

li {
    list-style:  none;
}

.ziehstapel{
    position: absolute;
    bottom: 45%;
    right: 5%;
    background-color: white;
    padding: 3%;
    width: 5%;
    height: 100px;
    cursor: pointer;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 5px;
    height: 3rem;
    width: 100%;
    background-color: black;
    text-align: center;
    border-bottom: solid white 3px;
}
span {
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
}

header button {
    position: absolute;
    right: 2%;
    background-color:white;
    color: black;
    border: solid red 3px;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}

main{
    margin-top: 5rem;
}

#handkarten {
    margin-bottom: 20px;
    position: fixed;
    bottom: 0;
    left: 10%;
    background-color: black;
    border: solid white 3px;
    width: 80%;
    height: 15rem;
    overflow: auto;
}

#handkartenAnzahl {
    position: absolute;
    bottom: 30%;
    right: 10%;
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid black 3px;
    font-size: 2rem;
    padding: 1%;
}

.rundenzahl {
    position: absolute;
    bottom: 30%;
    left: 10%;
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid black 3px;
    font-size: 2rem;
    padding: 1%;
}

.countdown {
    position: absolute;
    bottom: 30%;
    left: 30%;
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid black 3px;
    font-size: 2em;
    padding: 1%;
    cursor: pointer;
}

.siege {
    position: absolute;
    left: 2%;
    background-color:white;
    color: black;
    border: solid red 3px;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 1%;
    padding-right: 1%;
}

.maluspunkte {
    position: absolute;
    left: 15%;
    background-color:white;
    color: black;
    border: solid red 3px;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 1%;
    padding-right: 1%;
}

#sort {
    position: absolute;
    bottom: 30%;
    right: 40%;
    background-color: white;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid black 3px;
    font-size: 2rem;
    padding: 1%;
    cursor: pointer;
}